html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50px auto;
}

.sidebar {
    /* height: 100%; */
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: #012E34;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20%;
    color: whitesmoke;
    border-right: 5px solid white;
}

.sidebarHeader {
    position: fixed;
    left: 5%;
    top: 35%;
}

.contentContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background: #496d89;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto;
    grid-gap: 2px;
    color: lightcyan;
}

@media screen and (max-width: 1050px) {
    .sidebar {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        border-right: none;
        border-bottom: 5px solid white;
    }
    .sidebarHeader{
        position: unset;
        display: inline-block;
        margin-top: 0;
        margin-right: 75%;
    }
}

@media screen and (max-width: 1050px) {
    .contentContainer {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

.mePic {
    border: solid 1px white;
    position: fixed;
    left: 10%;
    top: 5%;
}

@media screen and (max-width: 1050px) {
    .mePic, .sidebarHeadBottom {
        display: none;
    }
}

.sidebarHeadBottom {
    position: fixed;
    left: 10%;
    top: 42%;
    color: lightcyan;
}

nav {
    position: fixed;
    left: 10%;
    top: 50%;
}

@media screen and (max-width: 1050px) {
    nav {
        position: absolute;
        top: 0;
        left: 125px;
    }
}

.navLink {
    border-left: solid 1px lightblue;
    padding: 2px;
    color: #69969C;
    text-decoration: none;
    transition: 0.5s;
}

.navLink:visited {
    text-decoration: none;
    color: #69969C;
}

.navLink:hover {
    text-decoration: underline;
    color: palegreen;
}

.navLink:active {
    color: palegreen;
    text-decoration: none;
}

.navLink:focus {
    color: lightyellow;
}

.about {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

.logo {
    position: absolute;
    right: 0;
    bottom: 10%;
    opacity: 0.3;
}

.contHead {
    text-shadow: -1px -1px 1px black;
}

.gallery {
    margin-top: 50px;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 25px;
}

.galleryHead {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.galleryItemOne {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.galleryItemTwo {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.galleryItemThree {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.galleryItemFour {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.galleryItemFive {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

.contact {
    margin-top: 50px;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 5px;
}

.contactHead {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.topButton {
    position: fixed;
    left: 25px;
    bottom: 50px;
    visibility: hidden;
    border-left: solid 1px lightblue;
    padding: 2px;
    color: #69969C;
    text-decoration: none;
}

.topButton:visited {
    text-decoration: none;
    color: #69969C;
}

.topButton:hover {
    text-decoration: underline;
    color: palegreen;
}

.topButton:active {
    color: palegreen;
    text-decoration: none;
}

.topButton:focus {
    color: lightyellow;
}

@media screen and (max-width: 1050px) {
    .topButton {
        visibility: visible;
    }
}

/* @media screen and (max-width: 640px) {
    .galleryItemOne {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .galleryItemTwo {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .galleryItemThree {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .galleryItemFour {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    
    .galleryItemFive {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
} */

.fa {
    padding: 30px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    background: lightcyan;
    transition: 0.2s;
}

.fa:hover {
    color: lightgreen;
    box-shadow: -1px -1px 20px;
    background: #496d89;
}

.galleryInfHead {
    color: white;
}

.galImg, .mePic {
    box-shadow: 5px 10px 15px black;
}

/* @keyframes backgroundFade {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.wrapper {
    animation-name: backgroundFade;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

@keyframes loadup {
    0%  {display: none;}
    1%   {background: black; left:37.5%; top:37.5%;}
    20%  {background: white; left:62.5%; top:37.5%;}
    40%  {background: #51C7E8; left:62.5%; top:62.5%;}
    60%  {background: black; left:37.5%; top:62.5%;}
    80% {background: white; left:37.5%; top:37.5%;}
    99% {background: #51C7E8; left:50%; top:50%;}
    100% {display: none;}
  }
  
  .animDiv {
    width: 100px;
    height: 100px;
    position: fixed;
    animation-name: loadup;
    animation-duration: 4s;
    animation-fill-mode: both;
    border-radius: 50%;
  } */